<header>
  <app-header [logado]="logado" (manipular)="mudarStatus($event)" (formulario)="abrirFormulario($event)"></app-header>
</header>

<main>
  <div *ngIf="!mostrarForm && !logado">
    <h1 class="title is-1 has-text-centered">Você não está logado</h1>
    <p class="is-size-6 has-text-centered">Imagine que aqui tenha centenas de produtos, notícias ou conteúdos
      interessantes para visualizar!</p>
  </div>

  <div *ngIf="!mostrarForm && logado">
    <h1 class="title has-text-centered">Você está logado!</h1>
    <h2 class="subtitle has-text-centered">Seja bem-vindo <b>{{usuario}}</b></h2>
  </div>

  <div *ngIf="mostrarForm && !logado">
    <app-formulario (loginEfetuado)="mudarStatus($event)"></app-formulario>
  </div>

</main>

<div class="fix-footer">
  <footer class="footer ">
    <p class="is-size-4 has-text-centered">Desenvolvido por <a href="https://github.com/Trojahn">{{autor}}</a></p>
  </footer>
</div>