<div class="columns">
    <div class="column is-4"></div>
    <div class="column is-4">
        <p class="has-text-centered">Para fins didáticos, basta clicar em "Logar".</p>
        <div class="field">
            <label class="label">Login</label>
            <div class="control">
                <input class="input" type="text" placeholder="Login">
            </div>
        </div>

        <div class="field">
            <label class="label">Senha</label>
            <div class="control">
                <input class="input" type="password" placeholder="Senha">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" (click)="logar()">Logar</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Limpar</button>
            </div>
        </div>
    </div>
    <div class="column is-4"></div>
</div>